/node_modules
package-lock.json
/target
/.idea
/out
/src/main/webapp/resources/photos/floorsPhotos/*
/src/main/webapp/resources/photos/uploads/*
/src/main/webapp/resources/photos/placementsPhotos/*
/src/main/webapp/resources/database.properties
!/**/.gitkeep