.bc_content{
    position: relative;
    left: 35%;
    top:50%;
    font-size: 150%;
    font-family: "Times New Roman";
}
.content{
    font-size: 150%;
    font-family: "Times New Roman";
}

.info{
    position: relative;
    left: 30%;
    top:10%;
    margin-bottom: 50px;
    font-size: 3vw;
}
#name:before{
    content: "Название БЦ - ";
}

#address:before{
    content: "Адрес БЦ - ";
}

#photo:before{
    content: "Фото БЦ - ";
}


.buttons{
    position: relative;
    width: 8%;
    margin-top:5%;
    left:35%
}

