<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="../../resources/main.css">
    <link rel="stylesheet" href="../../resources/show.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav th:replace="fragments/navbar:: navbar"></nav>

<div class="container" >
    <div class="row">
        <div class="col-12">
            <table class="table table-image" style="position:relative; margin:0;padding:0; left:-10%; width:70vw">
                <thead>
                <tr>
                    <th class="content" scope="col">Фото</th>
                    <th class="content" scope="col">Адрес</th>
                    <th class="content" scope="col">Полное наименование</th>
                    <th class="content" scope="col">Название</th>
                    <th class="content" scope="col">Кнопка</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="BC : ${centers}">
                    <td class="w-25">
                        <img th:src="@{/resources/uploads/{ref}(ref=${BC.getImagePath()})}"
                             class="img-fluid img-thumbnail" alt="Sheep">
                    </td>
                    <td class="content"  th:text="${BC.getAddress()}"></td>
                    <td class="content" th:text="${BC.getName()}"></td>
                    <td class="content" th:text="${BC.getShortName()}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/main/{id}(id=${BC.getBcId()})}">Перейти</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>