<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/start">AIS FSPO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/main}">Показать БЦ <span class="sr-only">(current)</span></a>
            </li>
            <li th:if="${USERTYPE=='LANDLORD'}" class="nav-item">
                <a class="nav-link" href="/main/addBc">Добавить БЦ</a>
            </li>
        </ul>
    </div>
    <div style="position: absolute; right: 10%;">
        <a href="/start" class="nav-link">ВЫЙТИ</a>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-image">
                <thead>
                <tr>
                    <th class="content" scope="col">Фото</th>
                    <th class="content" scope="col">Описание</th>
                    <th class="content" scope="col">Номер Этажа</th>
                    <th class="content" scope="col">Кнопка</th>
                    <th th:if="${isCurrentUser}" class="content" scope="col">Удалить</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="floor : ${floors}">
                    <td class="w-25">
                        <img th:src="@{/resources/floorsPhotos/{ref}(ref=${floor.getImagePath()})}"
                             class="img-fluid img-thumbnail" alt="Sheep">
                    </td>
                    <td class="content" th:text="${floor.getDescription()}"></td>
                    <td class="content" th:text="${floor.getFloorNumber()}"></td>
                    <td >
                        <a class="btn btn-primary"
                           th:href="${'/main/'+{floor.getBcId()}+'/floors/'+{floor.getFloorId()} + '/placements'}">Перейти</a>
                    </td>
                    <td th:if="${isCurrentUser}">
                        <form th:method="POST"
                              th:action="${'/main/'+{floor.getBcId()}+'/floors/'+{floor.getFloorId()+'/del'}}" style="display: inline" >
                            <input type="submit" class="btn btn-danger" role="button" aria-pressed="true" value="Удалить"/>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <a th:if="${isCurrentUser}" style="position: relative; margin-top: 15%; width: 30%;margin-left: 25%" th:href="@{/main/{id}/floors/new(id=${bcID})}" class="btn btn-info" role="button" aria-pressed="true">Добавить
                этаж</a>
        </div>
    </div>
</div>

</body>
</html>