<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../../resources/landlord/login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/start">AIS FSPO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/main(USERTYPE=${USERTYPE},ID=${ID})}">Показать БЦ <span class="sr-only">(current)</span></a>
            </li>
            <li th:if="${USERTYPE=='LANDLORD'}" class="nav-item">
                <a class="nav-link" href="/main/addBc">Добавить БЦ</a>
            </li>
        </ul>
    </div>
    <div style="position: absolute; right: 10%;">
        <a href="/start" class="nav-link">ВЫЙТИ</a>
    </div>
</nav>
<div class="login-form">
    <form th:action="@{/main/{id}/floors/new(id=${bcID})}" th:object="${floor}" th:method="POST" enctype="multipart/form-data">
        <h2 class="text-center">Добавить этаж</h2>
        <div class="form-group">
            <input th:field="*{floorNumber}" type="number" class="form-control" placeholder="Номер этажа" required="required">
            <div th:if="${#fields.hasErrors('floorNumber')}" th:errors="*{floorNumber}" class="alert alert-primary" role="alert">
            </div>
        </div>
        <div class="form-group">
            <input th:field="*{description}" type="text" class="form-control" placeholder="Описание" required="required">
            <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="alert alert-primary" role="alert">
            </div>
        </div>
        <div class="form-group">
            <input name="file" type="file" class="form-control" placeholder="Фото" required="required" multiple accept="image/*">
        </div>
        <div class="form-group regBut">
            <button type="submit" class="btn btn-primary btn-block">Добавить этаж</button>
        </div>
    </form>
</div>
</body>
</html>