<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../resources/index.css">
</head>
<body>
<div id="loginRenter">
    <span id="renter">АРЕНДАТОР</span>
    <form>
        <input type="submit" value="Войти" id="buttonLoginRenter" class="button">
    </form>
    <form>
        <input type="submit" value="Зарегистрироваться" id="buttonRegisterRenter" class="button">
    </form>
</div>
<div id="loginLandlord">
    <span id="landlord">АРЕНДОДАТЕЛЬ</span>
    <form>
        <input type="submit" value="Войти" id="buttonLoginLandlord" class="button">
    </form>
    <form>
        <input type="submit" value="Зарегистрироваться" id="buttonRegisterLandlord" class="button">
    </form>
</div>
</body>
</html>