<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../../resources/landlord/login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="login-form">
    <form th:action="@{/main/{id}/floors/{fID}/placements/{placeID}/rent(id=${bcID}, fID=${floorID}, placeID=${plID})}" th:object="${rentedPlacement}" th:method="POST" enctype="multipart/form-data">
        <h2 class="text-center">Арендовать помещение</h2>
        <div class="form-group">
            <input th:field="*{rent}" type="number" class="form-control" placeholder="Рента" required="required">
            <!--<div th:if="${#fields.hasErrors('floorNumber')}" th:errors="*{floorNumber}" class="alert alert-primary" role="alert">
            </div>-->
        </div>
        <div class="form-group">
            <input th:field="*{startOfRent}" type="date" class="form-control" placeholder="Начало аренды" required="required">
            <!--<div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="alert alert-primary" role="alert">
            </div>-->
        </div>
        <div class="form-group">
            <input th:field="*{endOfRent}" type="date" class="form-control" placeholder="Окончание аренды" required="required">
            <!--<div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="alert alert-primary" role="alert">
            </div>-->
        </div>
        <div class="form-group regBut">
            <button type="submit" class="btn btn-primary btn-block">Добавить помещение</button>
        </div>
    </form>
</div>




</body>
</html>