<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/resources/navbar.css}">
    <link rel="stylesheet" th:href="@{/resources/placements/placements.css}">
</head>
<body>
<nav th:replace="fragments/navbar:: navbar"></nav>

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-image">
                <thead>
                <tr>
                    <th style=" width: 200px" class="content" scope="col">Фото</th>
                    <th class="content" scope="col">Этаж</th>
                    <th class="content" scope="col">Площадь</th>
                    <th class="content" scope="col">Цена</th>
                    <th class="content" scope="col">Службы</th>
                    <th th:if="${USERTYPE == 'RENTER'}" class="content" scope="col">Арендовать</th>
                    <th th:if="${isCurrentUser}" class="content" scope="col">Удалить</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="place : ${placements}">
                    <td style="display:inline-block;width: 400px">
                        <img style="height: 350px; width: 400px" th:src="@{/resources/photos/placementsPhotos/{ref}(ref=${place.getImagePath()})}"
                             class=" img-thumbnail" alt="Sheep">
                    </td>
                    <td class="content" th:text="${floorNumber}"></td>
                    <td class="content" th:text="${place.getSurface()}"></td>
                    <td class="content" th:text="${place.getPrice()}"></td>
                    <td class="content"  th:if="${!place.getServiceSet().isEmpty()}">
                        <div style="margin-right: 10px" th:each="service : ${place.getServiceSet()}" th:text="${service.getDescription()}"></div>
                    </td>
                    <td th:if="${USERTYPE == 'RENTER' and place.getRequestsSet().isEmpty() and place.getRentedPlacement()==null}">

                        <a class="btn btn-primary"
                           th:href="${'/main/placements/'+{place.getPlacementId()}+'/rent'}">Арендовать</a>
                    </td>
                    <td th:if="${place.getRentedPlacement()!=null}">
                        <button th:replace="fragments/modalWindow:: modalButton"></button>
                        <div th:replace="fragments/modalWindow:: modalWindow"></div>
                    </td>
                    <td th:if="${isCurrentUser and place.getRentedPlacement()==null}" >
                        <form th:method="POST"
                              th:action="${'/main/'+{bcID}+'/floors/'+{floorID}+'/placements/'+{place.getPlacementId()}+'/del'}"
                              style="display: inline">
                            <input type="submit" class="btn btn-danger" role="button" aria-pressed="true"
                                   value="Удалить"/>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <a th:if="${isCurrentUser}" style="position: relative; margin-top: 10%; margin-bottom: 10%; width: 30%;margin-left: 25%"
               th:href="${'/main/'+{bcID}+'/floors/'+{floorID}+'/placements/new'}" class="btn btn-info"
               role="button" aria-pressed="true">Добавить
                помещение</a>
        </div>
    </div>
</div>
<script th:src="@{/resources/main/placements.js}"></script>
<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>