<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/resources/main.css}">
    <link rel="stylesheet" th:href="@{/resources/navbar.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav th:replace="fragments/navbar:: navbar"></nav>
<div class="container" >
    <div class="row">
        <div class="col-12">
            <table class="table table-image">
                <thead>
                <tr>
                    <th class="content" scope="col">Полная стоимость</th>
                    <th class="content" scope="col">Ежемесячные платежи</th>
                    <th class="content" scope="col">Начало аренды</th>
                    <th class="content" scope="col">Конец аренды</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rPL : ${map}">
                    <td class="content" th:text="${rPL.value.getTotalAmount()}"></td>
                    <td class="content" th:text="${rPL.key.getPrice()}"></td>
                    <td class="content" th:text="${rPL.value.getStartOfRent()}"></td>
                    <td class="content" th:text="${rPL.value.getEndOfRent()}"></td>
<!--                    <td>-->
<!--                        <a class="btn btn-primary" th:href="@{/main/{id}(id=${BC.getBcId()})}">Перейти</a>-->
<!--                    </td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>