<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/resources/main.css}">
    <link rel="stylesheet" th:href="@{/resources/navbar.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav th:replace="fragments/navbar:: navbar"></nav>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-image">
                <thead>
                <tr>
                    <th class="content" scope="col">Фото</th>
                    <th class="content" scope="col">Адрес</th>
                    <th class="content" scope="col">Полная стоимость</th>
                    <th class="content" scope="col">Ежемесячные платежи</th>
                    <th class="content" scope="col">Начало аренды</th>
                    <th class="content" scope="col">Конец аренды</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rPL : ${rPlacements}">
                    <td style="display:inline-block;width: 400px">
                        <img style="height: 350px; width: 400px"
                             th:src="@{/resources/photos/placementsPhotos/{ref}(ref=${rPL.getPlacement().getImagePath()})}"
                             class=" img-thumbnail" alt="Sheep">
                    </td>
                    <td class="content"
                        th:text="${rPL.getPlacement().getFloor().getBusinessCenter().getAddress()}"></td>
                    <td class="content" th:text="${rPL.getTotalAmount()}"></td>
                    <td class="content" th:text="${rPL.getPlacement().getPrice()}"></td>
                    <td class="content" th:text="${#dates.format(rPL.getStartOfRent(), 'MM-yyyy')}"></td>
                    <td class="content" th:text="${#dates.format(rPL.getEndOfRent(), 'MM-yyyy')}"></td>
                    <!--                    <td>-->
                    <!--                        <a class="btn btn-primary" th:href="@{/main/{id}(id=${BC.getBcId()})}">Перейти</a>-->
                    <!--                    </td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>