<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/resources/navbar.css}">
    <link rel="stylesheet" th:href="@{/resources/main.css}">
    <link rel="stylesheet" th:href="@{/resources/landlord/login.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav th:replace="fragments/navbar:: navbar"></nav>
<span class="bc_content">Финальная стоимость-</span>
<span class="content bc_content" th:text="${requestToBcLink.getTotalAmount()}"></span>
<br>
<span class="bc_content">Дата окончания срока запроса-</span>
<span class="content bc_content" th:text="${requestToBcLink.getExpirationDate()}"></span>
<br>
<span class="bc_content">Дата начала аренды-</span>
<span class="content bc_content" th:text="${#dates.format(requestToBcLink.getStartOfRent(), 'MM-yyyy')}"></span>
<br>
<span class="bc_content">Дата окончания аренды-</span>
<span class="content bc_content" th:text="${#dates.format(requestToBcLink.getEndOfRent(), 'MM-yyyy')}"></span>
<br>
<span class="bc_content">Email для связи-</span>
<span class="content bc_content" th:text="${requestToBcLink.getRenterLink().getEmail()}"></span>
<br>
<span class="bc_content">Имя-</span>
<span class="content bc_content" th:text="${requestToBcLink.getRenterLink().getFirstName()}"></span>
<br>
<form th:action="@{/main/request/{id}(id=${rID})}" th:method="POST">
    <div style="left:40%;width:15%" class="form-group regBut">
        <button type="submit" class="btn btn-primary btn-block">Подтвердить ареду</button>
    </div>
</form>
<a style="left:43%;width:10%" href="/main/doc_template" class="btn btn-secondary"> Скачать договор</a>
</body>
</html>