<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <a class="navbar-brand" th:href="@{/main}">AIS FSPO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/main}">Показать БЦ <span class="sr-only">(current)</span></a>
            </li>
            <li th:if="${USERTYPE=='LANDLORD'}" class="nav-item">
                <a class="nav-link" href="/main/addBc">Добавить БЦ</a>
            </li>
            <li th:if="${USERTYPE=='LANDLORD' }" class="nav-item">
                <a class="nav-link" href="/main/requests">Посмотреть предложения</a>
                <span th:if="${numberOfUnreadRequests!=0}" th:text="${numberOfUnreadRequests}" id="notice">1</span>
            </li>
            <li th:if="${USERTYPE=='RENTER'}" class="nav-item">
                <a class="nav-link" th:href="${'/main/renter/'+{ID}+'/rentedPlacements'}">Показать аренд. помещ.</a>
            </li>
        </ul>
    </div>
    <div style="position: absolute; right: 10%;">
        <a href="/logout" class="nav-link">ВЫЙТИ</a>
    </div>
</nav>
</body>
</html>